/* Hide Radio button */
.rate > input{
    display: none;
  }
  
  .rate{
    display: inline-block;;
    border: 0;
  }
  
  .rate > label{
    float: right;
  }
  
  /* Showing the stars */
  .rate > label:before{
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin:0;
    padding:0.3rem .2rem;
    cursor: pointer;
  }
  
  /* Half star */
  .rate .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
  }
  
  /* Click and hover */
  input:checked ~ label, label:hover ~ label{
    color: #ffb503;
  }
  
  /* hover hightlight */
  input:checked + label:hover, input:checked ~ label:hover,input:checked ~ label:hover ~ label,
  label:hover ~ input:checked ~ label{
    color: #cc9000;
  }
  
  .rating-star i{
    color: #ffb503 !important;
  }
  
  ul.thumb{
    margin:0 auto;
    padding: 0;
    float: left;
  }
  ul.thumb li{
    list-style: none;
    margin: 10px;
  }
  ul.thumb li img{
    width: 80px;
    height: 80px;
    border: 1px solid grey;
  }


@media only screen and (max-width: 600px) {
  .store-button {
    padding-left: 15px;
    padding-bottom: 10px;  
  }
  .cart-btn {
    bottom: 150px;
    left: 110px
  }
}


.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

.close {
  --color: red;
  --hover: #ff6a00;
}
#custom-btn:hover, #custom-btn:focus {
  border-color: var(--hover);
  color: #fff;
}

#custom-btn {
  color: var(--color);
  transition: 0.25s;
  border-radius: 20%;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 1em;
}

